@model IEnumerable<Libros.Models.Prestamo>
@{
    var perfil = Libros.WebApp.Utils.SessionManager.PerfilActivo();
    ViewBag.Title = "MisPrestamos";
    Layout = "~/Views/_Layout.cshtml";
}
@section Styles{

    <!-- CSS -->
    <link href="~/Contents/css/prestamo.css" rel="stylesheet">
}

<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Busqueda", "Busqueda", "Home")</li>
        <li class="active">@Html.ActionLink("Mis Prestamos", "MisPrestamos", "Prestamo", new { Id = perfil.Id })</li>
    </ol>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <div class="container">
                    <h4 class="pull-left">
                        Mis Prestamos
                    </h4>
                </div>
            </div>

            <div class="panel-body" style="display: flex; flex-wrap: wrap;">
                @{
                    foreach (var prestamo in Model)
                    {

                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="col-xs-12 thumbnail">
                                <a href="@Url.Action("Detalles", "Prestamo", new { id = prestamo.Id })" class="pull-left">
                                    <img src="@Url.Content("~/Contents/img/"+prestamo.Item.UrlImagen)" alt="imagen @prestamo.Item.Titulo" style="width:100px; height:150px">
                                </a>
                                <div class="col-xs-6">
                                    <p class="text-center">
                                        <h4>
                                            @prestamo.Item.Titulo
                                        </h4>
                                    </p>
                                    <p>
                                        <strong>Fecha de solicitud</strong>
                                        <small>
                                            @prestamo.FechaEnvio
                                        </small>
                                    </p>
                                    <p>
                                        <strong>Estado</strong>
                                        <small>
                                            @prestamo.Estado
                                        </small>
                                    </p>
                                    <p>
                                        <strong>Solicitador</strong>
                                        <small>
                                            <a href="@Url.Action("Detalles", "Perfil", new { Id = prestamo.Receptor.Id})">@prestamo.Receptor.Nombre</a>
                                        </small>
                                    </p>

                                </div>
                            </div>
                        </div>
                    }

                    if (Model.Count() == 0)
                    {
                        <p class="text-center">No se registran prestamos en curso</p>
                    }

                }
            </div>
            <div class="panel-footer text-center">
                @if (ViewBag.Page > 1)
                {
                    <a href="@Url.Action("MisPrestamos", new { Id=Model.ElementAt(0).Prestamista.Id ,page=ViewBag.Page - 1 , cantResult=ViewBag.Results } )"
                       class="btn btn-default">
                        &laquo; Prev
                    </a>
                }
                else
                {
                    <a href=""
                       class="btn btn-default" style="opacity: 0.65; cursor: not-allowed;" disabled>
                        &laquo; Prev
                    </a>
                }
                @if (ViewBag.More > 0)
                {
                    <a href="@Url.Action("MisPrestamos", new { Id=Model.ElementAt(0).Prestamista.Id ,page=ViewBag.Page + 1 , cantResult=ViewBag.Results } )"
                       class="btn btn-default">
                        Next &raquo;
                    </a>
                }
                else
                {
                    <a href="" class="btn btn-default" style="opacity: 0.65; cursor: not-allowed;" disabled>
                        Next &raquo;
                    </a>
                }
            </div>
        </div>
    </div>

</div>
